@import url(../../../src/global.css);

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.bg-primary\/5{
  background-color: rgb(55 88 249 / 0.05);
}

.bg-primary\/\[0\.08\]{
  background-color: rgb(55 88 249 / 0.08);
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  .-m-5{
    margin: -1.25rem;
  }
  
  .-mx-1{
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  
  .-mx-2{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .-mx-3{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  
  .-mx-4{
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .mx-8{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  
  .my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  #navbarCollapse li .ud-menu-scroll.active{
    opacity: 0.7;
  }

  .ring-primary{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(55 88 249 / var(--tw-ring-opacity));
  }